{% extends 'content/base.html' %}

{% load static %}

{% block head %}
 {{ block.super }}
 <link href="css/style.min.css" rel="stylesheet">
 <style type="text/css">
 </style>
{% endblock %}

{% block content %}
<div class="view full-page-intro" style="background-image: url('{% static 'content/images/home/Twain-bg-no_border.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
 <div class="mask rgba-black-strong d-flex align-items-center justify-content-center">
  <div class="container mt-md-5">
   <div class="row wow fadeIn mt-md-5">
    <div class="col-sm-6 white-text text-center text-md-left">
     <h1 class="display-4 d-sm-none d-md-none d-lg-block d-xl-block font-weight-bold text-center">
      TomWHartung.com</h1>
     <h1 class="h1-responsive d-sm-block d-md-block d-lg-none d-xl-none font-weight-bold text-center">
      TomWHartung.com</h1>
     <h2 class="h4-responsive font-weight-bold text-center my-3">
      This site is under construction!
     </h2>
    </div><!-- .col-* -->
   </div><!-- .row -->
  </div><!-- .container -->
 </div><!-- .mask -->
</div><!-- .view -->

<main>
 <div class="container">
  <section>
   <div class="row wow fadeIn align-items-center justify-content-center">
    <div class="col-sm-7 hoverable">
     <h4 class="h4-responsive font-weight-bold text-center my-3">
      <strong>Thanks for your patience!</strong>
     </h4>
    </div><!-- .col-* -->
   </div><!-- .row .wow -->
  </section>
  <hr class="my-5">
 </div><!-- .container -->
</main>
{% endblock %}

{% block scripts %}
 {{ block.super }}
{% endblock %}
