{% extends 'content/base.html' %}

{% load static %}

{% block head %}
 {{ block.super }}
 <link href="css/style.min.css" rel="stylesheet">
 <style type="text/css">
   html,
   body,
   header,
   .view {
     height: 100%;
   }
   @media (max-width: 740px) {
     html,
     body,
     header,
     .view {
       height: 1000px;
     }
   }
   @media (min-width: 800px) and (max-width: 850px) {
     html,
     body,
     header,
     .view {
       height: 650px;
     }
   }
   @media (min-width: 800px) and (max-width: 850px) {
             .navbar:not(.top-nav-collapse) {
                 background: #1C2331!important;
             }
         }
 </style>
{% endblock %}

{% block content %}
<div class="view full-page-intro" style="background-image: url('{% static 'content/images/home/Twain-bg-no_border.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
 <div class="mask rgba-black-strong d-flex align-items-center justify-content-center">
  <div class="container mt-md-5">
   <div class="row wow fadeIn mt-md-5">
    <div class="col-sm-6 white-text text-center text-md-left">
     <h1 class="display-4 d-sm-none d-md-none d-lg-block d-xl-block font-weight-bold text-center">
      SeeOurMinds.com</h1>
     <h1 class="h1-responsive d-sm-block d-md-block d-lg-none d-xl-none font-weight-bold text-center">
      SeeOurMinds.com</h1>
     <h4 class="h4-responsive font-weight-bold text-center my-3">
      <strong>Visualizing the Invisible Since 1989&trade;</strong>
     </h4>
     <hr class="hr-light my-4">
     <p class="mb-3 d-none d-md-block font-weight-bold text-center">
      <strong>
       <q>Spiritual Portraits</q> use colors to represent an individual's
        personality based on their answers to a set of multiple-choice questions.
      </strong>
     </p>
     <p class="mt-5 text-center">
      <a href="/quiz" class="btn btn-danger btn-lg"
         title="Take the Quiz, which comes in sizes ranging from 12 to 88 questions">
       {% spaceless %}
       <i class="fa fa-question-circle-o ml-2"></i>
       &nbsp;Take the Quiz&nbsp;
       <i class="fa fa-question-circle-o ml-2"></i>
       {% endspaceless %}
      </a>
     </p>
    </div><!-- .col-* -->
    <div class="col-sm-6 col-xl-5 mb-4">
     <div class="card">
      <div class="card-body">
       <form method="POST" action="https://groja.com/conversion/avmn"
             role="form">
        <h3 class="dark-grey-text text-center">
         <strong>Join Our Email List!<sup>&ast;</sup></strong>
        </h3>
        <hr>
        <div class="md-form">
         <i class="fa fa-user prefix grey-text"></i>
         <input type="text" id="name" class="form-control">
         <label for="name">Your name</label>
        </div>
        <div class="md-form">
         <i class="fa fa-envelope prefix grey-text"></i>
         <input type="text" id="email" class="form-control">
         <label for="email">Your email</label>
        </div>
        <div class="text-center">
         <button class="btn btn-danger"
                 title="Subscribe to the Artsy Visions Monthly Newsletter">
          {% spaceless %}
           <i class="fa fa-envelope-open-o ml-2"></i>
           &nbsp;Subscribe&nbsp;
           <i class="fa fa-envelope-open-o ml-2"></i>
          {% endspaceless %}
         </button>
         <hr>
        </div>
       </form>
       <p class="card-text">
        <sup>&ast;</sup>&nbsp;The Artsy Visions Monthly Newsletter includes updates for
         <a href="/" title="Home page of SeeOurMinds.com">
          SeeOurMinds.com</a>,
         <a href="https://ArtsyVisions.com"
            title="ArtsyVisions.com home page" target="_blank">
          ArtsyVisions.com</a>, and
         <a href="http://www.Groja.com"
            title="Groja.com home page" target="_blank">
          Groja.com</a>.
       </p>
      </div><!-- .card-body -->
     </div><!-- .card -->
    </div><!-- .col-* -->
   </div><!-- .row -->
  </div><!-- .container -->
 </div><!-- .mask -->
</div><!-- .view -->

<main>
 <div class="container">
  <section>
   <div class="row wow fadeIn align-items-center justify-content-center">
    <div class="col-sm-7 hoverable">
     <h2 class="h2-responsive font-weight-bold text-center m-3 p-3">
      <i class="fa fa-lg fa-question m-2 p-2" aria-hidden="true"></i>
      <i class="fa fa-lg fa-question m-2 p-2" aria-hidden="true"></i>
      <i class="fa fa-lg fa-question m-2 p-2" aria-hidden="true"></i><br>
      Did you ever...?</h2>
    </div><!-- .col-* -->
    <div class="w-100"></div>
    <div class="card-deck">
     <div class="card hoverable m-2">
      <div class="card-body">
       <h3 class="card-title h3-responsive font-weight-bold text-center">
        <i class="fa fa-lg fa-question-circle m-2 p-2" aria-hidden="true"></i><br>
        Did you ever wonder...?</h3>
       <h5 class="h5-responsive">
        ... wonder what a personality might look like, if you could see it?</h5>
      </div><!-- .card-body -->
     </div><!-- .card -->
     <div class="card hoverable m-2">
      <div class="card-body">
       <h3 class="card-title h3-responsive font-weight-bold text-center">
        <i class="fa fa-lg fa-question-circle m-2 p-2" aria-hidden="true"></i><br>
        Did you ever wish you could understand...?</h3>
       <h5 class="h5-responsive">
        ... understand why your friends, loved-ones, and
         co-workers do and say the things they say and do?</h5>
      </div><!-- .card-body -->
     </div><!-- .card -->
     <div class="card hoverable m-2">
      <div class="card-body">
       <h3 class="card-title h3-responsive font-weight-bold text-center">
        <i class="fa fa-lg fa-question-circle m-2 p-2" aria-hidden="true"></i><br>
         Did you ever want to learn...?</h3>
       <h5 class="h5-responsive">
        ... learn more about what makes us tick?</h5>
      </div><!-- .card-body -->
     </div><!-- .card -->
    </div><!-- .card-deck -->
    <div class="w-100"></div>
    <div class="col-sm-7 hoverable">
     <h2 class="h2-responsive font-weight-bold text-center m-3 p-3">
      <i class="fa fa-lg fa-exclamation m-2 p-2" aria-hidden="true"></i>
      <i class="fa fa-lg fa-exclamation m-2 p-2" aria-hidden="true"></i>
      <i class="fa fa-lg fa-exclamation m-2 p-2" aria-hidden="true"></i><br>
      If you have ever...</h2>
    </div><!-- .col-* -->
    <div class="w-100"></div>
    <div class="col-sm-7">
     <div class="card hoverable m-2">
      <div class="card-body">
       <h3 class="h3-responsive font-weight-bold text-center m-3">
        <i class="fa fa-lg fa-exclamation-circle m-2 p-2" aria-hidden="true"></i><br>
        If you have ever wondered, wished, or wanted any of these things,
         welcome to</h3>
       <h1 class="h1-responsive font-weight-bold text-center my-4">
        SeeOurMinds!</h1>
       <h2 class="h2-responsive font-weight-bold text-center m-3">
        <q>Shedding light on the things we cannot see.</q></h2>
      </div><!-- .card-body -->
     </div><!-- .card -->
    </div><!-- .col-* -->
   </div><!-- .row .wow -->
  </section>

  <hr class="my-5">

  <section>
   <div class="row wow fadeIn align-items-center justify-content-center">
    <div class="col-md-12">
     <div class="card-group">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h3 class="card-title h3-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-eye m-2 p-2" aria-hidden="true"></i><br>
         See Their Minds!</h3>
        <h5 class="h5-responsive font-weight-bold text-center">
         To see a variety of Spiritual Portraits, visit the
          <a href="/galleries" title="Link to the All Galleries page on this site">
           Portrait Galleries.</a></h5>
        <p>
         The Portrait Galleries on this site contain images of the personalities of many people
          &mdash; both real and fictional.</p>
        <p>
         There are also galleries showcasing the sixteen types and some
          experimental compositions.
         These galleries in particular contain sample images of generic
          personality types that do not correspond to actual people.</p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         {% spaceless %}
          <a href="galleries" title="Visit the seeourminds.com Portrait Galleries.">
           <button type="submit" class="btn-lg btn-primary"
               onclick="send_ga_event_with_value_1('Button', 'Leave Home Page', 'See Their Minds');">
           <i class="fa fa-lg fa-eye m-2 p-2" aria-hidden="true"></i>
           &nbsp;See Their Minds&nbsp;
           <i class="fa fa-lg fa-eye m-2 p-2" aria-hidden="true"></i>
          </button></a>
         {% endspaceless %}
        </p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h3 class="card-title h3-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-smile-o m-2 p-2" aria-hidden="true"></i><br>
          See My Mind!</h3>
        <h5 class="h5-responsive font-weight-bold text-center">
         To see multiple images of my personality, visit the
          <a href="/gallery/9100-real-self_portraits/"
             title="Visit the page containing the Gallery of Self-Portraits on this site">
           Gallery of Self-Portraits</a>
          on this site.</h5>
        <p>
         Over the years, I have answered a few different questionnaires,
          and created a few different Spiritual Self-Portraits.</p>
        <p>
         This gallery shows some of the results and discusses their
          consistencies &mdash; and their inconsistencies.
         It also demonstrates some of the advanced features of the Groja &copy;
          program, such as its ability to create images of different
          sizes and with different aspect ratios.</p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         {% spaceless %}
          <a href="/gallery/9100-real-self_portraits/"
             title="Single image page containing the image in the site header">
           <button type="submit" class="btn-lg btn-primary"
                   title="Visit the page containing the Gallery of Self-Portraits on this site"
                   onclick="send_ga_event_with_value_1('Button', 'Leave Home Page', 'See My Mind');">
            <i class="fa fa-lg fa-smile-o m-2 p-2" aria-hidden="true"></i>
            &nbsp;See My Mind&nbsp;
            <i class="fa fa-lg fa-smile-o m-2 p-2" aria-hidden="true"></i>
           </button></a>
         {% endspaceless %}
        </p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-group -->
    </div><!-- .col-* -->

    <div class="w-100"></div>

    <div class="col-md-12">
     <div class="card-group">
      <div class="card hoverable m-2">
       <div class="card-body">
        <h3 class="card-title h3-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-user m-2 p-2" aria-hidden="true"></i><br>
          See Your Mind!</h3>
        <h5 class="h5-responsive font-weight-bold text-center">
         To get your Spiritual Portrait, visit the
          <a href="http://www.groja.com/yourportrait" target="_blank"
             title="Visit the Groja.com Get Your Portrait page.".>
           Get Your Portrait</a>
          page on
          <a href="http://www.groja.com" target="_blank"
             title="Groja.com home page">Groja.com</a>!</h5>
        <p>
         The only way to get your own, personalized Spiritual Portrait is to
          contact us and ask us to create it for you.</p>
        <p>
         We create each portrait by hand, and the price of an image can range
          anywhere from $0 to $1000.
         Because the price of your image may vary dramatically,
          you should take advantage of the special deals we offer on occasion.
        <p>
         The best way to learn when there special deals &mdash; and make
          sure you are eligible for them when we do &mdash; is
          to subscribe to the
          <a href="https://Groja.com/conversion/avmn" target="_blank"
             title="Link to subscribe to the Artsy Visions Monthly Newsletter">
           Artsy Visions Monthly Newsletter</a>.
         </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         {% spaceless %}
          <a href="http://www.groja.com/yourportrait" target="_blank"
             title="Go to the Get Your Portrait page on Groja.com">
           <button type="submit" class="btn-lg btn-primary" role="button"
              onclick="send_ga_event_with_value_1('Button', 'Leave Home Page', 'See Your Mind');">
            <i class="fa fa-lg fa-user m-2 p-2" aria-hidden="true"></i>
            &nbsp;See Your Mind&nbsp;
            <i class="fa fa-lg fa-user m-2 p-2" aria-hidden="true"></i>
           </button></a>
         {% endspaceless %}
        </p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
      <div class="card hoverable m-2">
       <div class="card-body">
        <h3 class="card-title h3-responsive font-weight-bold text-center">
         <i class="fa fa-lg fa-graduation-cap m-2 p-2" aria-hidden="true"></i><br>
          Learn More!</h3>
        <h5 class="h5-responsive font-weight-bold text-center">
         To learn more about all this, visit the
          <a href="http://www.groja.com/about" target="_blank"
             title="Groja.com About page.".>About</a>
          page on
          <a href="http://www.groja.com" target="_blank"
             title="Groja.com home page">Groja.com</a>.</h5>
        <p>
         The About page at Groja.com contains a wealth of information, including:</p>
        <ul class="list-group mb-1">
         <li class="list-group-item px-3 py-1">
          The source of inspiration for creating Spiritual Portraits, and a
           short video explaining the idea
         </li>
         <li class="list-group-item px-3 py-1">
          Lists of books you can buy and sites you can visit to learn
           more about the theories used to create these Spiritual Portraits
         </li>
         <li class="list-group-item px-3 py-1">
          The backstory behind this and the related sites
         </li>
        </ul>
        <p>
         Anyone who feels like they are on the
          <a href="https://www.groja.com/about#wrong-planet" target="_blank"
             title="Visit the Wrong Planet section of the About page on Groja.com">
           wrong planet</a>
          sometimes should definitely check this page out!
        </p>
       </div><!-- .card-body -->
       <div class="card-footer">
        <p class="card-text text-center">
         {% spaceless %}
          <a href="http://www.groja.com/about" target="_blank"
             title="Go to the About page on Groja.com .">
           <button type="submit" class="btn-lg btn-primary" role="button"
             onclick="send_ga_event_with_value_1('Button', 'Leave Home Page', 'Learn More');">
            <i class="fa fa-lg fa-graduation-cap m-2 p-2" aria-hidden="true"></i>
            &nbsp;Learn More&nbsp;
            <i class="fa fa-lg fa-graduation-cap m-2 p-2" aria-hidden="true"></i>
           </button></a>
         {% endspaceless %}
        </p>
       </div><!-- .card-footer -->
      </div><!-- .card -->
     </div><!-- .card-group -->
    </div><!-- .col-* -->
   </div><!-- .row .wow -->
  </section>
 </div><!-- .container -->
</main>
{% endblock %}

{% block scripts %}
 {{ block.super }}
 <!-- Initializations -->
 <script type="text/javascript">
  // Animations initialization
  new WOW().init();
 </script>
{% endblock %}
