{% extends 'content/base.html' %}

{% load static %}

{% block head %}
 {{ block.super }}
{% endblock %}

{% block content %}
<div class="view full-page-intro" style="background-image: url('{% static 'content/images/home/Twain-bg-no_border.jpg' %}'); background-repeat: no-repeat; background-size: cover;">
 <div class="mask rgba-black-strong d-flex align-items-center justify-content-center">
  <div class="container mt-md-5">
  </div><!-- .container -->
 </div><!-- .mask -->
</div><!-- .view -->

<main>
 <div class="container">
  <section>
   <div class="row wow fadeIn align-items-center justify-content-center">
    <div class="col-sm-7 hoverable">
     <h2 class="text-center">Sorry, but this site is totes under construction.</h2>
     <p class="text-center">
      You should check out one of my other sites, like
      <a href="https://seeourminds.com" title="SeeOurMinds.com home page">SeeOurMinds.com</a>.</p>
     <h4 class="h4-responsive font-weight-bold text-center my-3">
      <strong>Thanks for your patience!</strong>
     </h4>
    </div><!-- .col-* -->
   </div><!-- .row .wow -->
  </section>
  <hr class="my-5">
 </div><!-- .container -->
</main>
{% endblock %}

{% block scripts %}
 {{ block.super }}
{% endblock %}
